# macOS cruft
.DS_Store

# Python bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv*/
venv/
env/
.env
.env.*
uv.lock
pyproject.toml
.python-version

# Rowan's big data files that, trust me bro, you're not ready for 
air_utah_met/